<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fab fa-ethereum" ></i>
      BlockChain App
    </a>
  </div>
</nav>
<div class="content-section implementation">

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <h4>Liste des Jobs</h4>
      </div>

      <div class="col">

          <button (click)= "saveAllJobs()"  pButton pRipple label="Save All" icon="pi pi-check" class="p-button-success me-3 "></button>
          <button (click)= "saveOneJobs()" [disabled]="boutonLoading"pButton pRipple label="Save One" icon="pi pi-check" class="p-button-primary me-3 "></button>
          <button (click)= "getAllJobs()" [disabled]="boutonLoading" pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-secondary"></button>

      </div>





    </div>
  </div>
  <div class="row mt-4 table-container">
    <div class="card">
      <p-table #dt1 [columns]="cols" [value]="jobs" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5,10]" [loading]="loading" [paginator]="true" currentPageReportTemplate="{first} / {last} de {totalRecords} enregistrements">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <span class="p-input-icon-right p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher" />
                  </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [ngStyle]="{'width': col.width }">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No data in BlockChain</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>



<router-outlet></router-outlet>
