/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '../node_modules/primeicons/primeicons.css';

@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css' ;

@import '~bootstrap/scss/bootstrap' ;

body {
    padding: 0 2em;
    
    font-family:  Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }